#petCards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin: 20px;
  text-align: center;
  justify-content: center;
  gap: 40px;
}

.pet-name {
  background-color: lightgrey;
  color: grey;
}

.btn-pet-type {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  gap: 60px;
}


.mb-3 form-check {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  width: 50%;
  height: 40px;
  
}
